:global(.ui) {
    :local(.comment)>i  {
        position: absolute;
    }
}

:global(.ui.basic.label):local(.toolbarBtn) {
    border: none
}

:global(i.edit) {
    top: 10px;
    right: 20px;
}

:global(i.close) {
    top: 10px;
    right: 0;
}

:global(i.up),
:global(i.down) {
    position: relative;

    ul {
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 12px;
        font-family: Arial;
        color: #fff;
        background-color: #555;
        z-index: 3;

        li {
            padding: 3px 5px;
        }
    }
}